EMAIL_FROM="Research Portal <tanishkmittal38@gmail.com>"
EMAIL_PROVIDER=gmail
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=
GMAIL_SENDER_EMAIL=tanishkmittal38@gmail.com
JWT_EXPIRATION=7d
JWT_SECRET=
MONGODB_URI=
NEXT_PUBLIC_APP_URL=https://research-portal-2-tvgq.onrender.com